@charset "utf-8";
/* CSS Document */

body {
	background-color:black;
	background-position: top center;	
	background-position: 30% 30%;
	background-position: top center;
	background-repeat: repeat-y;
	
	
}


h2 {
	font-family:Verdana, Geneva, sans-serif;
	font-size:48px;
	font-weight:bold;
	color:#099;
	margin-left:20px;
	margin-top:0px;
}

h3 {
	font-family:Verdana, Geneva, sans-serif;
	font-size:18px;
	font-weight:bold;
	color:#099;
	margin-left:20px;
	margin-top:0px;
}

.bodyTxt {
	font-family:Verdana, Geneva, sans-serif;
	font-size:14px;
	line-height:18px;
	text-align:justify;
	margin-left:20px;
	margin-right:20px;
	margin-top:-10px;
	color:white;
}


#wrapper {
	width:940px;
	height:3000px;
	margin:auto;
	/*border:1px solid red;*/
	background-color:#363636;
}

#banner {
	width:940px;
	height:100px;
	background-image:url(images/banner.gif);
}

#navBar {
	width:940px;
	height:139px;
}

#leftContent {
	width:470px;
	/*height:600px;*/
	/*border:1px blue solid;*/
	float:left;
	font-family:Verdana, Geneva, sans-serif;
	font-size:14px;
	color:white;
}

#rightContent {
	width:465px;
	/*height:600px;*/
	/*border:1px blue solid;*/
	float:left;
	font-family:Verdana, Geneva, sans-serif;
	font-size:14px;
	color:white;
}
	
	




